
{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Text To Speech in DJANGO | </title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
      <header>Text To Speech</header>
      <form action="#" method="POST">
        <div class="row">
          {% csrf_token %}
          <label>Enter Text</label>
          <textarea name="text"></textarea>
        </div>
        <button>Convert To Speech</button>
      </form>
    </div>

  

  </body>
</html>